[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
uvicorn = "*"
fastapi = "*"
pydantic = "*"
opa-python-client = "*"
strawberry-graphql = {extras = ["fastapi", "debug-server"], version = "*"}
psycopg2-binary = "*"
python-dotenv = "*"
starlette = "*"
python-keycloak = "*"
itsdangerous = "*"
jinja2 = "*"
dynaconf = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
