[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
strawberry-graphql-django = "*"
mozilla-django-oidc = "*"
psycopg2-binary = "*"
astunparse = "*"
python-json-logger = "*"
opa-python-client = "*"
python-dotenv = "*"
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"

[dev-packages]
black = "*"
isort = "*"
pylama = {extras = ["all", "toml"], version = "*"}

[requires]
python_version = "3.11"
