<!doctype html>
<html>
  <head>
    <title>Hello {{username}}</title>
  </head>
  <body>
    <h1>Hello {{username}}!</h1>
    <code><pre>{{token_info}}</pre></code>
    <a href="/logout">Logout</a>
  </body>
</html>