<!doctype html>
<html>
  <head>
    <title>Hello {{username}}!</title>
  </head>
  <body>
    <h1>Hello {{username}}!</h1>
    <nav>
      <ul>
        <li><a href='/hello'>View Info</a></li>
        <li><a href='/graphql'>GraphiQL</a></li>
        <li><a href='/docs'>Swagger Docs</a></li>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </nav>
  </body>
</html>